# **Module 04** | Python: Files and Functions

## **Topics**

<ol type="1">
  <li>Reading;</li>
  <li>Writing;</li>
  <li>Functions;</li>
  <li>Scope.</li>
</ol>

## Leitura

Criando o arquivo banco.csv

In [70]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.csv

### with / open

Comando para ler arquivos.

```python
with open(file='<file path>', mode='<reading mode>', encoding='<decoder>') as <surname>:
    code block
```

Os modos de leitura são:
* **r**: ABre o arquivo para leitura (padrão)

### read

Comando para ler todo o conteúdo de um arquivo.

In [71]:
content = None

with open(file='./banco.csv', mode='r', encoding='utf8') as archive:
    content = archive.read()

print(content)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

### readline

Comando para ler o conteúdo de um arquivo uma linha por vez.

In [72]:
content = []

with open(file='./banco.csv', mode='r', encoding='utf8') as archive:
    line = archive.readline()
    while line:
        content.append(line)
        line = archive.readline()

print(content)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes\n']

In [73]:
for line in content:
    print(line)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,307,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

**Exemplo**: Extraindo os valores da primeira coliuna (idade)

In [75]:
ages = []

with open(file='./banco.csv', mode='r', encoding='utf8') as archive:
  line = archive.readline() # lê o cabeçalho
  line = archive.readline() # lê a primeira linha
  while line:
    sep_line = line.split(sep=',') # quebra a string nas virgulas e salva os resultados em uma lista
    age = sep_line[0] # seleciona o primeiro elemento da lista
    age = int(age) # converte o valor de string para integer (inteiro)
    ages.append(age) # salva o valor na lista de idades
    line = archive.readline() # lê uma nova linha, se a linha não existir, salva o valor None

print(ages)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

## Escrita