# **Module** | Python: Conditional Flow and Repetition

# **Topics**

<ol type="1">
  <li>Conditional structure if / else / elif;</li>
  <li>Conditional structure try / catch / finally;</li>
  <li>Conditional structure for / in.</li>
</ol>

---

# 1\. Conditional structure if / else / elif

## **1.1. if / else**

Structure for changing the logical flow of code, evaluates a Boolean value or a logical comparison.

```python
if <boolean / logical comparison> == True:
  <run this code>
else:
  <Otherwise run this code>
```

In [4]:
if True:
  print("True")
else:
  print("False")

True

In [5]:
if False:
  print("True")
else:
  print("False")

False

**Example**: Credit card security code.

In [7]:
security_code = '541'
registered_security_code = '092'

can_make_payment = security_code == registered_security_code # the codes are different
print(can_make_payment)

False

In [9]:
if can_make_payment:
  print("Payment made")
else:
  print("Error: Invalid security code")

Error: Invalid security code

In [10]:
if security_code == registered_security_code:
  print("Payment made")
else:
  print("Error: Invalid security code")

Error: Invalid security code

**Example**: Security code and password for a credit card

In [11]:
security_code = '569'
registered_security_code = '569'

password = '9924'
registered_password = '9924'

In [12]:
if (security_code == registered_security_code) & (password == registered_password):
  print("Payment made")
else:
  print("Error: Payment not made")

Payment made

In [13]:
if (security_code != registered_security_code) | (password != registered_password):
  print("Error: Payment not made")
else:
  print("Payment made")

Payment made

## **1.2. if / elif / else**

Assessing multiple conditions

```python
if <1º boolean / 1ª logical comparison> == True:
  <run this code if the first condition for true>
elif <2º boolean / 2ª logical comparison> == True:
  <run this code if the second condition for true>
else:
  <otherwise run this code>
```

In [14]:
security_code = '802'
registered_security_code = '852'

password = '7703'
registered_password = '7783'

| CODE        | PASSWORD        | | | CODE AND PASSWORD  | MESSAGE |
|----------|----------|-|-|----------|-|
| **TRUE** | **TRUE** | | | **TRUE** | Payment made |
| **TRUE** | FALSE    | | | FALSE    | Error: Invalid password |
| FALSE    | FALSE    | | | FALSE    | Error: Invalid security code and password |
| FALSE    | **TRUE** | | | FALSE    | Error: Invalid security code |

In [16]:
if (security_code == registered_security_code) & (password == registered_password):
  print("Payment made")

elif (security_code != registered_security_code) & (password == registered_password):
  print("Error: Invalid password")

elif (security_code == registered_security_code) & (password != registered_password):
  print("Erro: Invalid security code")

else:
  print("Erro: Invalid security code and password")

Erro: Invalid security code and password

## 2\. Conditional structure try /except / finally

### **2.1. Exception**

Exceptions are errors that can occur during the execution of our code.

**Exemplo**: Erro de operações numéricas impossíveis

In [17]:
price = 132.85
people = 0

In [18]:
# returns an error -> ZeroDivisionError
value_per_person = price / people

ZeroDivisionError: float division by zero

**Example**: Error due to combinations of different types

In [19]:
name = 'Bruno Miranda'
age = True

In [20]:
# returns an error -> TypeError
presentation = 'Hello people, my name is ' + name + ' and I am ' + age + ' years'

TypeError: can only concatenate str (not "bool") to str

In [21]:
name = 'Bruno Miranda'
age = 19

presentation = 'Hello people, my name is ' + name + ' and I am ' + age + ' years'

TypeError: can only concatenate str (not "int") to str

**Example**: Data structure indexing error.

In [26]:
years = [2019, 2020, 2021]

In [27]:
current_year = years[3]

IndexError: list index out of range

In [28]:
courses = {
    'python': {
        'name': 'Python for Data Analysis', 'duration': 2.5
    }, 
    'sql': {
        'name': 'SQL for Data Analysis', 'duration': 2
    }
}

In [29]:
# não dá para extrair essa chave pois ela não existe
current_course = courses['analyst']

KeyError: 'analyst'

### **2.2. try / except**

Structure for handling exceptions.

In [30]:
price = 132.85
people = 0

try:
  value_per_person = price / people
  print(value_per_person)
except ZeroDivisionError:
  print('Invalid number of people. A value greater than 0 is expected and a value equal to ' + str(people))

Invalid number of people. A value greater than 0 is expected and a value equal to 0

In [31]:
year = [2019, 2020, 2021]

try:
  current_year = years[3]
  print(current_year)
except Exception: # if we don't know the error that will occur, use Exception
  print('List of years is less than the chosen value. A value between 0 and ' + str(len(years) - 1))

List of years is less than the chosen value. A value between 0 and 2

In [32]:
# correcting the code above
years = [2019, 2020, 2021]

try:
    current_year = years[2] # returns 2021, in this case it will not fall into the exception
    print(current_year)
except Exception:
    print('List of years is less than the chosen value. A value between 0 and ' + str(len(years) - 1))

2021

In [33]:
# an example of code capturing the error correctly

years = [2019, 2020, 2021]

try:
    current_year = years[3]
    print(current_year)
except Exception as exc:
    print('Exception description: ' + str(exc))
    print('Exception type: ' + str(type(exc)))
    print('List of years is less than the chosen value. A value between 0 and ' + str(len(years) - 1))

Exception description: list index out of range
Exception type: <class 'IndexError'>
List of years is less than the chosen value. A value between 0 and 2

In [34]:
# now we know that the error is IndexError, we can use more than one except
# the code will fall into except IndexError

years = [2019, 2020, 2021]

try:
    current_year = years[3]
    print(current_year)
except IndexError:
    print('List of years is less than the chosen value. A value between 0 and ' + str(len(years) - 1))
except Exception as exc:
    print(exc)
    print('Generic error')

List of years is less than the chosen value. A value between 0 and 2

### **2.3. try / except / finally**

In [37]:
name = 'Bruno'
age = 19

try:
  presentation = 'Hello people, my name is ' + name + ' and I am ' + age + ' age.'
  print(presentation)
except TypeError:
  age = str(age)
finally:
  print('Second chance.')
  presentation = 'Hello people, my name is ' + name + ' and I am ' + age + ' age.'
  print(presentation)

Second chance.
Hello people, my name is Bruno and I am 19 age.

## 3\. Repetition structure for / in

### **3.1. for / in**

Structure that allows the repeated execution of a block of code over and over again.

```python
for temporary variable in collection:
  <run this code>
```

### **3.2. for / in / range**

Structure that allows the repeated execution of a block of code **n** times.

In [38]:
for value in range(6):
  print(value)

0
1
2
3
4
5

In [39]:
sum = 0

for value in range(0, 100000):
  sum = sum + value
  # print(soma)

print(sum)

4999950000

In [41]:
for multiple_two in range(2, 10, 2):
  print(multiple_two)

2
4
6
8

### **3.3. for / in / list**

Structure that allows the execution of a block of code for all elements of a list.

In [42]:
fruits = ['apple', 'banana', 'orange', 'grape', 'pear']

for fruits in fruits:
  print(fruits)

apple
banana
orange
grape
pear

In [43]:
phrase = 'Hello, my name is Bruno Miranda.'

for character in phrase:
  if (character == 'A') | (character == 'o'):
    print(f"The letter '{character}' is present in the sentence.")

The letter 'o' is present in the sentence.
The letter 'o' is present in the sentence.

### **3.4. for / in / dict**

Structure that allows the execution of a block of code for all elements of a dictionary.

In [44]:
credit = {'123': 750, '456': 812, '789': 980}

In [45]:
for key, value in credit.items():
  print(f'For document {key}, the credit score value is {value}.')
  print('\n')

For document 123, the credit score value is 750.


For document 456, the credit score value is 812.


For document 789, the credit score value is 980.

In [47]:
for key in credit.keys():
  print(key)
  print(credit[key])
  print(f'For document {key}, the credit score value is {credit[key]}.')
  print('\n')

123
750
For document 123, the credit score value is 750.


456
812
For document 456, the credit score value is 812.


789
980
For document 789, the credit score value is 980.

In [48]:
for value in credit.values():
  print(value)
  print(f'The credit score value is {value}, but we no longer have the keys :(.')
  print('\n')

750
The credit score value is 750, but we no longer have the keys :(.


812
The credit score value is 812, but we no longer have the keys :(.


980
The credit score value is 980, but we no longer have the keys :(.

### **3.5. break / continue**

Structure that allows the breaking or advancement of a repeating loop.

In [49]:
for i in range(0, 10*10*10*10*10*10):
  print(i)
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9
10

In [50]:
number = 3

if number % 2 == 0:
  print(f'The number {number} is even')
else:
  print(f'The number {number} is odd')

The number 3 is odd

In [51]:
numbers = [361, 553, 194, 13, 510, 33, 135]

for number in numbers:

  if number % 2 == 0:
    print(f'The number {number} is even')
    break
  else:
    print(f'The number {number} is odd')

The number 361 is odd
The number 553 is odd
The number 194 is even

In [52]:
numbers = [361, 553, 194, 13, 510, 33, 135]

for number in numbers:

  if number % 2 == 0:
    print(f'The number {number} is even')
    break
  else:
    continue
    print(f'The number {number} is odd')

The number 194 is even