# **Module 01** | Python: Variables and Data Types

## **TÃ³picos**
<ol type="1">
  <li>Variables;</li>
  <li>Numbers;</li>
  <li><i>Strings;</i></li>
  <li>Booleans.</li>
</ol>

## 1\. Variables

In [1]:
age = 31
print(age)

age = 27
print(age)

name = 'Bruno'
print(name)

31
27
Bruno

### Native types

**Numerical types:** integers (`int`) and decimals (`float`):

In [2]:
price = 800
type_price = type(price)

print(price)
print(type(price))

fees = 0.05
type_fees = type(fees)

print(fees)
print(type(fees))

800
<class 'int'>
0.05
<class 'float'>

**Text types:** strings (`str`):

In [3]:
first_name = "Bruno"

print(first_name)
print(type(first_name))

country = 'Brazil'

print(country)
print(type(country))

Bruno
<class 'str'>
Brazil
<class 'str'>

**Logical type:** booleans (`bool`)

In [4]:
user_of_legal_age = True

print(user_of_legal_age)
print(type(user_of_legal_age))

True
<class 'bool'>

**Empty type:** (`noneType`)

In [5]:
phone_number = None

print(phone_number)
print(type(phone_number))

None
<class 'NoneType'>

## 2\. Numbers

In [6]:
print(type(50))
print(type(16.5))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

### Operations

The operations of numerical types are the four fundamental mathematical operations:

*   `+` (addition);
*   `-` (subtraction);
*   `*` (multiplication);
*   `/` (division).

In addition to more advanced operations:

*   `//` (integer division)
*   `**` (exponenciation);
*   `%` (remainder of division).

**Example:** Shopping cart of an e-commerce.

In [7]:
shopping_cart = 0

shopping_cart = shopping_cart + 1
print(shopping_cart)

shopping_cart = shopping_cart + 1
print(shopping_cart)

1
2

In [8]:
# Another way to do the same code as above

shopping_cart = 0

shopping_cart += 1
print(shopping_cart)

shopping_cart += 1
print(shopping_cart)

1
2

**Example:** Total payable for a product.

In [9]:
price = 50
amount = 0.250

total_payable = amount * price
print(total_payable)

12.5

In [10]:
a = 10
b = 2

c = a / b
print(c)
print(type(c))

d = a // b
print(d)
print(type(b))

5.0
<class 'float'>
5
<class 'int'>

### Type convertion

We can convert numeric types to each other using the native method `int`, `float` and `complete`:

In [11]:
print(int(2.6))

2

In [12]:
print(float(50))

50.0

In [13]:
print(complex(1))

(1+0j)

**Motivation:** Average ticket calculation

| Day   | Total Sales Value  | Total Sales Quantity | Average ticket |
|-------|--------------------|------------------|-|
| 19/01 | 153.98             | 3                |?|
| 20/01 | 337.01             | 7                |?|
| 23/01 | 295.33             | 5                |?|

In [14]:
# Average daily ticket on 01/19

tsv_19 = 153.98
tsq_19 = 3

atk_19 = tsv_19 / tsq_19
print(atk_19)

51.32666666666666

In [15]:
# Average daily ticket on 01/20

tsv_20 = 337.01
tsq_20 = 7

atk_20 = tsv_20 / tsq_20
print(atk_20)

48.144285714285715

In [16]:
# Average daily ticket on 01/23

tsv_23 = 295.33
tsq_23 = 5

atk_23 = tsv_23 / tsq_23
print(atk_23)

59.065999999999995

In [18]:
# Average ticket

atk_total = (atk_19 + atk_20 + atk_23) / 3
print(atk_total)

52.8456507936508